<!DOCTYPE html>
<html>

<head>
  <title>Alerts - DEALSBOX</title>
  <style type="text/css">
    body {
      font-size: 12px;
      font-family: "open-sans", monospace;
      margin: 0;
      padding: 0;
    }
    
    p {
      margin-top: 0;
      padding-top: 1px;
      font-style: italic;
    }
  </style>
</head>

<body>
  <p>
    <span>25% off any Groupon deal. code:
      <strong> SUPER3</strong> Ends 09/15</span>
    <br />
    <span>20% off LivingSocial deal. code:
      <strong> MONDAY20</strong> Ends 09/14</span>
  </p>

</body>

</html>