<!DOCTYPE html>
<html>

<head>
  <title>Alerts - DEALSBOX</title>
  <style type="text/css">
    body {
      font-size: 12px;
      font-family: "open-sans", monospace;
    }
    
    p {
      margin-top: 0;
      padding-top: 0;
      font-style: italic;
    }
  </style>
</head>

<body>
  <p>
    <span>For 2 days, take 25% off any Groupon deal.</span>
    <br/>
    <span>code:
      <strong> SUPER3</strong>. Ends 09/15</span>
  </p>

  <p>
    <span>Cash in Today! 20% off LivingSocial deal.</span>
    <br/>
    <span>code:
      <strong> MONDAY20</strong>. Ends 09/14</span>
  </p>

</body>

</html>