<!DOCTYPE html>
<html>
<head>
	<title>How to earn points - DEALSBOX</title>
			<style type="text/css">
	body, h2{
		font-size: 14px;
	}
	h2{
		margin-bottom: 0;
		padding-bottom: 0;
	}

	p{
		margin-top: 0;
		padding-top: 0;
	}

	h1{
		font-size: 14px;
	}
	</style>
</head>
<body>
 <h2>HOW TO ENTER</h2>
 <p>Any registered user of DEALSBOX app that has earned up to 500 points is submitted to the weekly rewardss, so you don’t have to manually enter the giveaways. <strong><em>We reset the points to 0 at the end of each month</em></strong>.</p>
<h2>HOW TO EARN POINTS</h2>
<p>
    <ol style="font-size:12px;">
        <li>Earn 50 points each day you use DEALSBOX app</li>
        <li>Earn 25 points for every friend(capped at 4 friends per day) you refer from DEALSBOX app. You can refer using the button below this screen</li>
        </ol>
        </p>
</body>
</html>