{% extends './layouts/default.html' %} {% block title %}{{ title }}{% endblock %} {% block content %}

<div class="container">
  <section class="phone-slider">
    <div class="marvel-device iphone6plus black">
    <div class="top-bar"></div>
    <div class="sleep"></div>
    <div class="volume"></div>
    <div class="camera"></div>
    <div class="sensor"></div>
    <div class="speaker"></div>
    <div class="screen">
        <img src="images/landing-image.png" />
    </div>
    <div class="home"></div>
    <div class="bottom-bar"></div>
</div>
  </section>
  <section class="content">
    <h1>boxedsales</h1>

    <!--
    Daily deals that interest you.
    Daily deals based on your interests.
    -->
    <p style="width: 100%;">Daily deals that interest you.</p>
    <p class="info">We bring together deals from Groupon, LivingSocial and others.</p>
    <span class="form"><input type="email" class="js-email" placeholder="Email" value="" />
    <button type="submit"class="js-submit">Join the waiting list</button></span>

    <div class="spread_the_word">
      <p>spread the word <span><a href="" class="icon-facebook-circled"></a><a href="" class="icon-twitter-circled"></a></span>
      </p>
    </div>
  </section>
</div>


{% endblock %}
