{% extends './layouts/default.html' %} {% block title %}{{ title }}{% endblock %} {% block content %}


 <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="twelve columns">
       <div class="logo"><img src="https://dl.dropboxusercontent.com/s/80sfw87n7muxwoe/dealsbox_logo_white.png?dl=0" alt="" /></div>
      </div>
    </div>

    <div class="row">
        <div class="twelve columns">
                     <p class="blurb">We bring daily deals from Groupon, LivingSocial and more to save you money and time. Find the top deals from around the Web, all in one spot — with Yelp reviews to help you decide.</p>
        </div>
    </div>

    <div class="row">
        <div class="twelve columns">
    <div class="form_container">
			<span class="form"><input type="email" placeholder="Email" class="text js-email u-full-width" value=""><button type="submit"class="js-submit">Get invite</button></span>
    </div>

    </div>
    </div>

    <div class="row scroll_section">
        <div class="twelve columns">
            <a class="scroll" href="#info">scroll down to learn more</a>
        </div>
    </div>

    <div class="row content">
        <div class="six columns">
	<h5 id="info"><strong>Daily deals — updated and simplified!</strong></h5>

<ul class="list">
	<li>Never Lose Your Deal: Save favorites for later.</li>
	<li>Everything in One Place: deals from Groupon, LivingSocial and more!</li>
	<li>Reviews, Too: We incorporate Yelp reviews from sellers, so you can make an informed deals decision</li>
	<li>Custom search: using price, location and keywords criteria</li>
	<li></li>
</ul>


	<div class="testify">
			<a class="twitter-timeline" href="https://twitter.com/dealsboxapp" data-widget-id="563423063262638080">Tweets by @dealsboxapp</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

	</div>


        </div>

        <div class="six columns">
        <img src="images/black_phone.png" alt="" />

        </div>
    </div>
  </div>

	<div id="footer">
		<div class="container">
					<div class="row">
			<div class="twelve columns">
				<p>Quality deals — with Yelp reviews — all in one place.</p>
				<ul>
					<li><a href="https://www.facebook.com/dealsboxapp" class="facebook">facebook</a></li>
					<li><a href="https://twitter.com/dealsboxapp" class="twitter">twitter</a></li>
				</ul>

				<p class="copyright">&copy;2015 Dealsbox.co // All rights reserved.</p>
			</div>
		</div>

		</div>
	<a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>

	</div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
{% endblock %}
