{% extends './layouts/default.html' %} {% block title %}{{ title }}{% endblock %} {% block content %}


<div class="container">
  <section class="phone-slider">
    <div class="animated bounceInDown">
     <img src="images/iPhone6.png" alt="" height="489"/>
    </div>
  </section>
  <section class="content animated bounceInUp">
    <h1>Dealsbox</h1>

    <!--
    Daily deals that interest you.
    Daily deals based on your interests.
    -->
    <p style="width: 100%;font-size:1.5em;">Find quality deals every day.</p>
    <div class="info">
			<p>Dealsbox makes daily deals fun again.
			We deliver the best deals from around the Web, along with the Yelp reviews that make your decision easier.
			No more searching every deal, every day, on every site. That’s our job!</p>
	 <ul>
		<li>Everything in One Place: Only the best deals from Groupon, LivingSocial and more! </li>
    <li>Never Lose Your Deal: Save favorites for later.</li>
    <li>Reviews, Too: We incorporate Yelp reviews from sellers, so you can make an informed deals decision</li>
		</ul>
		</div>

    <span class="form"><input type="email" class="js-email" placeholder="Email" value="" />
    <button type="submit"class="js-submit">Get early access</button></span>

    <div class="spread_the_word">
      <p>spread the word <span><a href="https://www.facebook.com/dealsboxapp" class="icon-facebook-circled"></a><a href="https://twitter.com/dealsboxapp" class="icon-twitter-circled"></a></span>
      </p>
    </div>
  </section>
</div>

<footer>
    <p class="copyright">&copy; 2014 DEALSBOX</p>
</footer>

{% endblock %}
