{% extends '../layouts/merchant_default.html' %} {% block title %}{{ title }}{% endblock %} {% block content %}
<div class="login-box">
  <div class="login-logo">
    <a><b>Admin</b>LTE</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <h4 class="login-box-msg">
      <strong>Register as a Merchant</strong>
    </h4>
    <p class="error text-danger"></p>
    <form action="" method="post">
      <div class="form-group has-feedback">
        <label for="">Business Name</label>
        <input type="text" class="form-control" placeholder="Business Name" name="business_name">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <label for="">Business Email</label>
        <input type="email" class="form-control" placeholder="Business Email" name="business_email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <label for="">Yelp Business Page URL
          <small style="font-weight:normal;">(http://www.yelp.com/biz/...)</small>
        </label>
        <input type="text" class="form-control" placeholder="e.g http://www.yelp.com/biz/..." name="business_url">
      </div>
      <div class="form-group has-feedback">
        <label for="">Password</label>
        <input type="password" class="form-control" placeholder="Password" name="password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">

        <!-- /.col -->
        <div class="col-xs-8">
          <button type="submit" class="btn btn-primary btn-block btn-flat cta">Register</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <!-- /.social-auth-links -->

    <!-- <a href="#">I forgot my password</a> -->
    <br>

    <a href="/business/login" class="text-center">I'm already a Merchant</a>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
{% endblock %}